.page-header {
    background-color: #F0E68C;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #FFFFF0;
    font-size: 36pt;
    text-decoration: none;
    font-family: "Lemonada";
}

.content {
    margin-left: 40px;
}

.date {
    color: #828282;
    margin-bottom: -20px;
    font-size: 13px;
}

.save {
    float: right;
}

.post-form textarea, .post-form input{
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-left: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1, .post h1 a, .post h1 a:visited {
    color: #000000;
    font-size: 30px;
    font-family: 'Roboto Condensed';
}
.post p {
    margin-left:10px;
}

.btn {
    float: right;
}